.container{
    background: rgb(181, 212, 192);
    width: fit-content;
    margin-top: 80px;
    padding: 150px 10px 10px 10px ;
    border-radius: 10px;
}
.calculator-cont{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 10px;
    align-items: center;

    width: fit-content;
    padding: 20px;
    margin-top: 60px;
}
button{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
h1{
    color: white;
    text-align: right;
}